body {
  margin: 0;
  font-family: "Comfortaa", sans-serif;
}

.timeframe {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  background-color: #171717;
  overflow-x: hidden;
}

span.date {
  font-style: italic;
  margin-left: 1rem;
  opacity: 0;
  transition: opacity 0.3s linear;
}
span.date.showing {
  opacity: 0.7;
  transition: opacity 0.7s linear;
}

span.highlight {
  text-shadow: 0 0 5px rgba(150, 150, 150, 0.6);
}

#particles-js {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 58%;
  z-index: 1;
}
header {
  align-self: flex-start;
  display: flex;
  align-items: center;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 2px solid rgb(131, 145, 156);
  margin-left: 20px;
}

h1 {
  font-family: "Poiret One", sans-serif;
  font-size: 5rem;
  padding-left: 30px;
  padding-bottom: 10px;
}

.links {
  align-self: flex-start;
  margin-left: 6%;
  padding-bottom: 5%;
}
.links a {
  text-decoration: none;
}
.links i {
  font-size: 2.5rem;
  color: rgba(240, 240, 240, 1);
  text-shadow: 0 0 5px rgba(150, 150, 150, 0.6);
  margin-right: 2rem;
}

.links i:hover {
  text-shadow: none;
}

section div.line {
  width: 3px;
  height: 50px;
  background-color: aquamarine;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgb(21, 168, 119);
  margin-bottom: 10px;
}

section p {
  opacity: 0;
}
section {
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom: 5%;
}

.date-event:hover {
  cursor: e-resize;
}

.lower {
  padding-top: 0.2em;
}

@media only screen and (max-width: 700px) {
  img {
    width: 60px;
    height: 60px;
    margin-right: 8px;
  }
}
