* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  min-height: 100vh;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  font-family: "Comfortaa", sans-serif;
}

#particles-js {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 2;
}

section div.line {
  width: 3px;
  height: 50px;
  background-color: aquamarine;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgb(21, 168, 119);
  margin-bottom: 10px;
}

section p {
  opacity: 0;
}
